/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Basic styles for the body */
body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Navigation bar styles */
nav {
    background-color: whitesmoke;
    color: orangered;
}

.nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

/* Logo styles */
.logo h1 {
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: oblique;
    background-color: #dc3545;
    border-radius: 20px;
}

/* Navigation menu styles */
.menu-bar {
    list-style: none;
    display: flex;
    font-family: inherit;
}

.menu-bar li {
    margin-right: 20px;
}

.menu-bar a {
    color: rgb(238, 8, 8);
    display: block;
    padding: 0 20px;
    height: 20px;
    text-decoration: none;
}

.menu-bar a:hover {
    color: rgb(124, 85, 71);
    padding-top: 10px;
    transition: all 200ms ease-in-out;
}

/* Cart link styles */
nav .Cart a {
    border: 2px solid #dc3545;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    transition: background-color 1s, color 2.3s;
    background-color: #dc3545;
}

/* Menu toggle button styles for smaller screens */
.menu-toggle {
    display: none; /* Hide the toggle button on larger screens */
    cursor: pointer;
    margin-right: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: #000; /* Adjust the color as needed */
}

/* Styles for smaller screens (mobile) */
 
 /* Footer styles */
/* footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #dc3545;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(1.1);
} */